<header class="header-portal">
    <div class="clearfix">
        <div class="pull-left">
            <img src="../../img/flipeuro-logo.png" height="40px" alt="FlipEuro Logo" title="FlipEuro Logo" />
        </div>
        <div class="menu pull-left">
            Account
        </div>
    </div>
</header>
<section id="page-account" class="page">
    <h1>Account</h1>
    <h2>Credit Cards</h2>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Collapsible Group Item #1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    VHS.
                </div>
            </div>
      </div>
    </div>
</section>