<header class="header-portal">
    <div class="clearfix">
        <div class="pull-left">
            <img src="../../img/flipeuro-logo.png" height="40px" alt="FlipEuro Logo" title="FlipEuro Logo" />
        </div>
        <div class="menu pull-left">
            Account
        </div>
    </div>
</header>
<section id="page-account" class="page">
    <h1>Account</h1>
    <h2>Credit Cards</h2>
    <div class="panel-group" id="accordion" data-bind="foreach: {data: creditCards, as: 'card'}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-bind="text: cardNumber, attr: { href : '#collapse' + card.id, 'data-target': '#collapse' + card.id}" data-parent="#accordion"></a>
                </h4>
            </div>
            <div data-bind="attr: { id: 'collapse' + card.id }" class="panel-collapse collapse in">
                <div class="panel-body" data-bind="text: nameOnCard"></div>
            </div>
      </div>
    </div>
    <h4>Add Credit Card</h4>
    <div class="add-credit-card">
        <form class="frm-add-credit-card" role="form" data-bind="submit: addCreditCard" >
            <div class="row form-group">
                <div class="col-xs-3">
                    <label for="card-number">Credit Card Number</label>
                    <input type="text" class="form-control input-sm" id="card-number" name="card-number" data-bind="value: cardNumber" placeholder="Credit Card Number" maxlength="255" />
                </div>
                <div class="col-xs-3">
                    <label for="card-name">Name on Card</label>
                    <input type="text" class="form-control input-sm" id="card-name" name="card-name" data-bind="value: nameOnCard" placeholder="Name on Card" maxlength="255" />
                </div>
                <div class="col-xs-3">
                    <label for="exp-date">Expiration Date</label>
                    <input type="month" class="form-control input-sm" id="exp-date" name="exp-date" data-bind="value: expirationDate" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Add Credit Card</button>
        </form>
    </div>
    <hr/>
    <h2>Funds</h2>
    <h4>Current Amount: <span data-bind="text: currentCurrency"></span><span data-bind="text: currentAmount"></span></h4>
    <div class="deposit">
        <form class="frm-deposit" role="form" data-bind="submit: deposit" >
            <div class="row form-group">
                <div class="col-xs-3">
                    <label for="deposit-from-card">Select Credit Card</label>
                    <select class="form-control input-sm" id="deposit-from-card" name="deposit-from-card" data-bind="options: $root.creditCards, value: depositFromCard, optionsText: 'cardNumber'"></select>
                </div>
                <div class="col-xs-3">
                    <label for="deposit-amount">Amount</label>
                    <input type="number" class="form-control input-sm" id="deposit-amount" data-bind="value: depositAmount" pattern="^\d+(\.|\,)\d{2}$" name="deposit-amount" placeholder="0.00" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Deposit</button>
        </form>
    </div>
</section>